body { background-color: rgb(248, 248, 245);
    font-size: 20px; /* comentário no css */
    margin: 0;

}

/*HEADER*/


header {
    background-color: rgb(255, 255, 255);
    margin: 0 5%;
    padding: 0.5% 0 0.5% 65%;
    border-bottom: 8px solid #ff6600;
}

.link {
    font-size: 25px;
    padding: 5px 27px; /* valor vertical e horizontal dos "botões" do header.*/
    background-color: #009bc2;
    text-decoration: none;
    color: #ffffff;
} /* como é um class, é .(nome) */

.senai {
    background-color:#c33d3d;
}

.fiesp {
    background-color: #000000bd;

}

/*BODY*/

main {
    background-color: #ffffff;
    margin: 0 5%;
    padding: 1% 0% 5% 2%

}

span {
    color: #009bc2;
}

h1 {
    font-family: Arial, 'Helvetica', sans-serif;
    font-size: 46px;
    color: #009bc2;
    text-shadow: 2px 2px 2px grey; /* x, y, progessão da sombra (discipação)/*
    /*também existe (box-shadow) para sombrear caixas */

}

h2, h3 {
    font-family: 'Times New Roman', Times, serif; /* ( ' nome da fonte' prioriza a fonte dentre as outras ) */
    font-weight: 900; /*  (font-weight) muda o peso da fonte, 100 - 900 e lighter para bolder*/
    color: #ff6600;
    margin-top: 80px;

}

h2 {
    font-size: 40px;
}

h3 {
    font: 27px;
}

p {
    padding: 0 10% 0 1%;
}

img {
    margin-left: 15%;
    box-shadow: 2.3px -1px 8px grey; /* - a sombra vai pro sentido contrário */
}

.imgredes {
    box-shadow: none;
}

.h3contato {
    color:white;
    margin-top: 10px;
}

.grade, pre {
    border-left: 5px solid orange;
    background-color: black;
    color: white;
    width: 85vw;
    height: 140px;
    margin-bottom: 70px;
    margin-left: 3%;
    padding-top: 25px;
    border-radius: 7px;
    overflow: scroll;

}


.tag {
    color: rgb(255, 190, 201);
}

.seletor { 
    color: rgb(0, 225, 255);
}

.propriedade {
    color: greenyellow;

}


footer {
    background: red;
    width: 100vw;
}

.redes {
    display: inline-block;
    margin-left: 45%;
}

.contato {
    margin-left: 35%
}

.contato span {
 color: rgb(40, 40, 121);
}   

.contato p {
 color: rgb(255, 255, 255);
 font-weight: 100;
}


.info {
    position: relative;
    left: -25%;
    width: 200px;
     
}

.info2 {
    position: absolute;
    right: 20%;
    bottom: -65%;

     
}

.direitos {
    position: relative;
    left: 40%;
    color: rgb(255, 255, 255);
    font-weight: 100;

}


