<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body style="background-color: rgb(236, 211, 178);">
    
    
    <table align="center">
        <td>
            <figure>
                <img width="200px" src="Images/sistema/Ney Cine.png"alt="">
            </figure>
        </td>
    </table>
    
    <table align="center"border="4">
        <td>
            ⠀ÓTIMO⠀
        </td>
        <td>
            ⠀BOM⠀
        </td>
        <td>⠀MAIS OU MENOS⠀</td>
        <td>
            ⠀MANDAR MENSAGEM⠀
        </td>
        <td>
            ⠀SOBRE⠀ 
        </td>
        
        <td>
            ⠀<img src="Images/redessociais/facebook.png" alt="">⠀
            
        </td>
        
        <td>
            ⠀<img src="Images/redessociais/instagram.png" alt="">⠀
        </td>
        
        <td>
            ⠀<img src="Images/redessociais/twitter.png" alt="">⠀
        </td>
    </table>
    
    <br><br>

    <table align="center" border="1">
        <td style="background-color: white;">
            <p style="opacity: 0.3;">⠀⠀Pesquisar nome de filme⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀</p>
        </td>
    </table>

    <table>
        <td>
            <img width="20" src="Images/sistema/filter.png" alt="">            
        </td>
        <td>
            <p>Filtros
                
            </p>
        </td>
    </table>

    <table align="center">

    <tr>    
        <td>
            <figure>
                <img src="Images/Imagens ajustadas/babydriver.jpg" alt="">
            </figure>
        </td>
        <td width="210px">
            <h2>Baby Driver</h2>
            <p>Um drama com assaltos a banco e música, um prodigío no volante passou a participar de assaltos para pegar um cascalho e pagar uma grande divída pro chefão. A parte legal é o vicio do prodigío por música, todas as cenas de ação acompanham uma trilha única com bastante funky.</p>
            <h4 style="color: rgb(93, 153, 3);"><b>Nota:</b> Ótimo</h4>

       

<img src="Images/" alt="">

<h5 align="center"> Neymar Filmes - Copyright 2025 <i><b>© Maykon Souza</b></i></h5>

</body>
</html>