<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LitCine</title>
</head>
<body style="background-color: rgb(51, 51, 51); color: white;">
    <table id="header" style="background-color: black;">
        <tbody class="logo_pesquisa">
            <tr>
                <th style="width: 5%;"></th>
                <th>
                   
                    <img src="Blog Cinema Projeto em Casa/litcine2.svg" alt="logo" title="O MELHOR CINEMA">
                    
                </th>
                <th style="width: 5%;"></th>
                <th  style="background-color: white;">
                    <img src="Blog Cinema Projeto em Casa/pesquisaiconblack.svg" alt="pesquisa">
                </th>
                <th style="background-color: white; color: black;">
                    <p style="opacity: 60%;">Pesquisar Filme</p> 
                </th>
                <th style="width: 5%;"></th>
            </tr>
        </tbody>
    </table>
</body>
</html>