<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body style="background-color: rgb(236, 211, 178);">


    <table align="center">
        <td>
            <figure>
                <img width="600px" src="Images/sistema/neymar-filmes.png" alt="">
            </figure>
        </td>
        <td>
            <img src="Images/redessociais/facebook.png" alt="">

        </td>

        <td>
            <img src="Images/redessociais/instagram.png" alt="">
        </td>

        <td>
            <img src="Images/redessociais/twitter.png" alt="">
        </td>
    </table>

    <table align="center"border="4">
        <td>
            ÓTIMO
        </td>
        <td>
            BOM
        </td>
        <td>MAIS OU MENOS</td>
        <td>
            MANDAR MENSAGEM
        </td>
        <td>
            SOBRE
        </td>

    </table>

    <h3 align="center">Propaganda</h3>

<br><br>

<table align="center" border="1">
    <td>
        <h3>Pesquisar nome de filme</h3>
    </td>
</table>

<br><br><br>

<table align="center">

    <tr>    
        <td>
            <figure>
                <img src="Images/Imagens ajustadas/babydriver.jpg" alt="">
            </figure>
        </td>
        <td width="210px">
            <h2>Baby Driver</h2>
            <p>Um drama com assaltos a banco e música, um prodigío no volante passou a participar de assaltos para pegar um cascalho e pagar uma grande divída pro chefão. A parte legal é o vicio do prodigío por música, todas as cenas de ação acompanham uma trilha única com bastante funky.</p>
            <h4><b>Nota:</b> Ótimo</h4>

        <td>
            <figure>
                <img src="Images/Imagens ajustadas/babydriver.jpg" alt="">
            </figure>
        </td>
        <td width="210px">
            <h2>Baby Driver</h2>
            <p>Um drama com assaltos a banco e música, um prodigío no volante passou a participar de assaltos para pegar um cascalho e pagar uma grande divída pro chefão. A parte legal é o vicio do prodigío por música, todas as cenas de ação acompanham uma trilha única com bastante funky.</p>
            <h4><b>Nota:</b> Ótimo</h4>
        </td>

        <td>
            <figure>
                <img src="Images/Imagens ajustadas/babydriver.jpg" alt="">
            </figure>
        </td>
        <td width="210px">
            <h2>Baby Driver</h2>
            <p>Um drama com assaltos a banco e música, um prodigío no volante passou a participar de assaltos para pegar um cascalho e pagar uma grande divída pro chefão. A parte legal é o vicio do prodigío por música, todas as cenas de ação acompanham uma trilha única com bastante funky.</p>
            <h4><b>Nota:</b> Ótimo</h4>
        </td>

        <td>
            <figure>
                <img src="Images/Imagens ajustadas/babydriver.jpg" alt="">
            </figure>
        </td>
        <td width="210px">
            <h2>Baby Driver</h2>
            <p>Um drama com assaltos a banco e música, um prodigío no volante passou a participar de assaltos para pegar um cascalho e pagar uma grande divída pro chefão. A parte legal é o vicio do prodigío por música, todas as cenas de ação acompanham uma trilha única com bastante funky.</p>
            <h4><b>Nota:</b> Ótimo</h4>
        </td>
    </tr>

        <tr>    
        <td>
            <figure>
                <img src="Images/Imagens ajustadas/babydriver.jpg" alt="">
            </figure>
        </td>
        <td width="210px" >
            <h2>Baby Driver</h2>
            <p>Um drama com assaltos a banco e música, um prodigío no volante passou a participar de assaltos para pegar um cascalho e pagar uma grande divída pro chefão. A parte legal é o vicio do prodigío por música, todas as cenas de ação acompanham uma trilha única com bastante funky.</p>
            <h4><b>Nota:</b> Ótimo</h4>

        <td>
            <figure>
                <img src="Images/Imagens ajustadas/babydriver.jpg" alt="">
            </figure>
        </td>
        <td width="210px">
            <h2>Baby Driver</h2>
            <p>Um drama com assaltos a banco e música, um prodigío no volante passou a participar de assaltos para pegar um cascalho e pagar uma grande divída pro chefão. A parte legal é o vicio do prodigío por música, todas as cenas de ação acompanham uma trilha única com bastante funky.</p>
            <h4><b>Nota:</b> Ótimo</h4>
        </td>

        <td>
            <figure>
                <img src="Images/Imagens ajustadas/babydriver.jpg" alt="">
            </figure>
        </td>
        <td width="210px">
            <h2>Baby Driver</h2>
            <p>Um drama com assaltos a banco e música, um prodigío no volante passou a participar de assaltos para pegar um cascalho e pagar uma grande divída pro chefão. A parte legal é o vicio do prodigío por música, todas as cenas de ação acompanham uma trilha única com bastante funky.</p>
            <h4><b>Nota:</b> Ótimo</h4>
        </td>

        <td>
            <figure>
                <img src="Images/Imagens ajustadas/babydriver.jpg" alt="">
            </figure>
        </td>
        <td width="210px">
            <h2>Baby Driver</h2>
            <p>Um drama com assaltos a banco e música, um prodigío no volante passou a participar de assaltos para pegar um cascalho e pagar uma grande divída pro chefão. A parte legal é o vicio do prodigío por música, todas as cenas de ação acompanham uma trilha única com bastante funky.</p>
            <h4><b>Nota:</b> Ótimo</h4>
        </td>
    </tr>
        <tr>    
        <td>
            <figure>
                <img src="Images/Imagens ajustadas/babydriver.jpg" alt="">
            </figure>
        </td>
        <td width="210px" >
            <h2>Baby Driver</h2>
            <p>Um drama com assaltos a banco e música, um prodigío no volante passou a participar de assaltos para pegar um cascalho e pagar uma grande divída pro chefão. A parte legal é o vicio do prodigío por música, todas as cenas de ação acompanham uma trilha única com bastante funky.</p>
            <h4><b>Nota:</b> Ótimo</h4>

        <td>
            <figure>
                <img src="Images/Imagens ajustadas/babydriver.jpg" alt="">
            </figure>
        </td>
        <td width="210px">
            <h2>Baby Driver</h2>
            <p>Um drama com assaltos a banco e música, um prodigío no volante passou a participar de assaltos para pegar um cascalho e pagar uma grande divída pro chefão. A parte legal é o vicio do prodigío por música, todas as cenas de ação acompanham uma trilha única com bastante funky.</p>
            <h4><b>Nota:</b> Ótimo</h4>
        </td>

        <td>
            <figure>
                <img src="Images/Imagens ajustadas/babydriver.jpg" alt="">
            </figure>
        </td>
        <td width="210px">
            <h2>Baby Driver</h2>
            <p>Um drama com assaltos a banco e música, um prodigío no volante passou a participar de assaltos para pegar um cascalho e pagar uma grande divída pro chefão. A parte legal é o vicio do prodigío por música, todas as cenas de ação acompanham uma trilha única com bastante funky.</p>
            <h4><b>Nota:</b> Ótimo</h4>
        </td>

        <td>
            <figure>
                <img src="Images/Imagens ajustadas/babydriver.jpg" alt="">
            </figure>
        </td>
        <td width="210px">
            <h2>Baby Driver</h2>
            <p>Um drama com assaltos a banco e música, um prodigío no volante passou a participar de assaltos para pegar um cascalho e pagar uma grande divída pro chefão. A parte legal é o vicio do prodigío por música, todas as cenas de ação acompanham uma trilha única com bastante funky.</p>
            <h4><b>Nota:</b> Ótimo</h4>
        </td>
    </tr>
        <tr>    
        <td>
            <figure>
                <img src="Images/Imagens ajustadas/babydriver.jpg" alt="">
            </figure>
        </td>
        <td width="210px" >
            <h2>Baby Driver</h2>
            <p>Um drama com assaltos a banco e música, um prodigío no volante passou a participar de assaltos para pegar um cascalho e pagar uma grande divída pro chefão. A parte legal é o vicio do prodigío por música, todas as cenas de ação acompanham uma trilha única com bastante funky.</p>
            <h4><b>Nota:</b> Ótimo</h4>

        <td>
            <figure>
                <img src="Images/Imagens ajustadas/babydriver.jpg" alt="">
            </figure>
        </td>
        <td width="210px">
            <h2>Baby Driver</h2>
            <p>Um drama com assaltos a banco e música, um prodigío no volante passou a participar de assaltos para pegar um cascalho e pagar uma grande divída pro chefão. A parte legal é o vicio do prodigío por música, todas as cenas de ação acompanham uma trilha única com bastante funky.</p>
            <h4><b>Nota:</b> Ótimo</h4>
        </td>

        <td>
            <figure>
                <img src="Images/Imagens ajustadas/babydriver.jpg" alt="">
            </figure>
        </td>
        <td width="210px">
            <h2>Baby Driver</h2>
            <p>Um drama com assaltos a banco e música, um prodigío no volante passou a participar de assaltos para pegar um cascalho e pagar uma grande divída pro chefão. A parte legal é o vicio do prodigío por música, todas as cenas de ação acompanham uma trilha única com bastante funky.</p>
            <h4><b>Nota:</b> Ótimo</h4>
        </td>

        <td>
            <figure>
                <img src="Images/Imagens ajustadas/babydriver.jpg" alt="">
            </figure>
        </td>
        <td width="210px">
            <h2>Baby Driver</h2>
            <p>Um drama com assaltos a banco e música, um prodigío no volante passou a participar de assaltos para pegar um cascalho e pagar uma grande divída pro chefão. A parte legal é o vicio do prodigío por música, todas as cenas de ação acompanham uma trilha única com bastante funky.</p>
            <h4><b>Nota:</b> Ótimo</h4>
        </td>
    </tr>
     

</table>

<img src="Images/" alt="">

<h5 align="center"> Neymar Filmes - Copyright 2025 <i><b>© Maykon Souza</b></i></h5>

</body>
</html>