<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
    </style>
    <title>Layout</title>
</head>
<body style="background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); font-size: 21px;">
    <table class="header" style="font-family: 'Press Start 2P';">
        
            <thead> <!-- Cabeçalho da página-->
                <tr  class="banner" >
                    <th colspan="6"> <!-- Banner-->
                        <figure><img src="imagens/banner 1900x360.png" alt="capa" style="width: 98%; border-bottom: 10px solid white  ;"></figure>

                    </th>
                </tr>

                
                <tr  class="menu" style="font-size: 22px; height: 40px;">
                    <th style="width: 20%; border-bottom: 4px dashed white;"> <!-- A porcentagem do tamanho é sobre o espaço que ele ocupa, não a tela inteira-->
                        <figure>
                            <img src="imagens/Yoshi.png" alt="logomarca" style="width: 100px;">
                        </figure>
                    </th>
                    <th></th>
                    <th></th>
                    <th style="border: 4px dashed white;">
                        <a href="#about_us">ABOUT US</a>
                    </th>
                    <th style="border: 4px dashed white;">
                        <a href="#characters">CHARACTERS</a>
                    </th>
                    <th style="border: 4px dashed white;">
                        <a href="#footer">CONTACT</a>

                    </th>

                </tr>

            </thead>
        
    
        </table> <!-- Artigo principal-->
        <br>
        <table id="about_us" style="height: 80vh;">
            <tbody>
                <tr class="article">
                    <td style="width: 5%;"></td>
                    <td>
                        <h1>About Us</h1>
                        <p>Somos apaixonados por tudo que envolve cultura geek — e decidimos colocar pimenta nesse universo. A Chilli Geek nasceu para reunir pessoas que vibram com o último episódio de uma série, que debatem teorias de multiverso, que colecionam figurinhas, action figures ou apenas memórias de infância com muito orgulho.Aqui, ser geek não é um rótulo, é um estilo de vida. É sobre se expressar, pertencer e se divertir. Misturamos nostalgia com novidades, humor com informação, e tudo com aquele tempero que só um verdadeiro fã sabe valorizar.</p>
                    </td>
                    <td style="width: 5%;"></td>
                    <td style="width: 5%;"></td>
                    <td>
                        <h1>GEEK!!!!</h1>
                        <p>A Chilli Geek é uma marca feita por geeks, para geeks. Nosso propósito é criar um espaço autêntico onde a paixão pela cultura pop se traduz em conteúdo, produtos, experiências e conexões reais.

                        Trabalhamos para oferecer não apenas informações e entretenimento, mas também itens colecionáveis, roupas temáticas e eventos especiais. Queremos ser referência no Brasil quando o assunto é representar esse universo com criatividade, atitude e respeito à diversidade de cada fã.

                        Na Chilli Geek, você encontra mais do que coisas legais — encontra um pedaço do seu mundo.</p>
                    </td>
                    <td style="width: 5%;"></td>
                </tr>
            </tbody>
        </table>

        <br>
        <table id="characters" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); width: 98vw; height: 87vh;"> <!-- sessão com os tres personagens-->
            <tbody>
                <tr style="height: 30px;"></tr>
                <tr>
                    <td style="width: 5%;"></td> <!--Margem esquerda-->
                    <td><figure>
                            <a href="https://www.youtube.com/watch?v=Xithigfg7dA&pp=ygURdHJhaWxkZXIgZGVhZHBvb2w%3D" target="_blank"><img src="imagens/deadpool 400x356.png" alt="Deadpool" style="border-radius: 50%;" title="Assistir o Trailer"></a>
                        </figure>
                    </td>
                    <td style="width: 6%;"></td>
                    <td style="width: 6%;"></td>
                    <td>
                        <figure>
                            <a href="https://www.youtube.com/watch?v=OPUeb3z_kVo&pp=ygUQdHJhaWxlciBoYW5rIHB5bdIHCQnNCQGHKiGM7w%3D%3D" target="_blank"><img src="imagens/hank-pym 400x356.png" alt="Hank Pym" style="border-radius: 50%;" title="Assistir o Trailer"></a>
                        </figure>
                    </td>
                    <td style="width: 6%;"></td>
                    <td style="width: 6%;"></td>
                    <td>
                        <figure>
                            <a href="https://youtu.be/AF_f8kl8lJQ?si=foXVqXzr9-WPvBHW" target="_blank"w><img src="imagens/wolverine 400x356.png" alt=" Wolverine" style="border-radius: 50%;" title="Assistir o Trailer".></a>
                        </figure>
                    </td>
                    <td style="width: 5%;"></td>  <!--Margem direita-->
                </tr>
                <tr>
                    <td style="width: 5%;"></td> <!--Margem esquerda-->
                    <td style="text-align: center;">
                        <h2> Deadpool</h2>
                        <p>Deadpool, cujo nome verdadeiro é Wade Wilson, é um anti-herói da Marvel Comics conhecido por suas habilidades de cura acelerada e senso de humor peculiar. Ele surgiu como um personagem secundário em quadrinhos, mas ganhou destaque como protagonista em seus próprios filmes e séries. </p>
                    </td>
                    <td style="width: 6%;"></td>
                    <td style="width: 6%;"></td>
                    <td style="text-align: center;">
                        <h2> Hank Pym</h2>
                        <p>Dr. Henry Jonathan Pym é um personagem que aparece nos quadrinhos americanos publicados pela Marvel Comics. Criado pelo desenhista Jack Kirby, pelo editor-conspirador Stan Lee e pelo escritor Larry Lieber, Pym estreou em Tales to Astonish #27.</p>
                    </td>
                    <td style="width: 6%;"></td>
                    <td style="width: 6%;"></td>
                    <td style="text-align: center;">
                        <h2> Wolverine</h2>
                        <p>James Howlett, também conhecido como Logan e pelo alter ego Wolverine, é um personagem fictício que se originou como o principal protagonista e figura central da série de filmes X-Men da 20th Century Fox, tendo aparecido em nove filmes desde sua introdução em X-Men, incluindo filmes solo e em conjunto.</p>
                    </td>
                    <td style="width: 5%;"></td> <!--Margem direita-->
                </tr>
            </tbody>
        </table>

        <br>

        <table class="footer" style="width: 98vw; background-color: red; color: white; border-top: 2px dashed whitesmoke;"> <!-- rodapé do site-->
            <tfoot> <!--redes sociais-->
                <tr style="height: 60px;">
                    <td style="width: 40%;"></td> <!-- margem esquerda-->
                    <td>
                        <figure>
                            <a href="https://www.facebook.com/senaisaopaulo" target="_blank"><img src="imagens/redes_sociais/face.png" alt="Facebook" title="Acessar Facebook"></a>
                        </figure>
                    </td>
                    <td>
                        <figure>
                            <a href="https://www.instagram.com/senai.sp" target="_blank"><img src="imagens/redes_sociais/instagram.png" alt="Instagram" title="Acessar Instagram"></a>
                        </figure>
                    </td>
                    <td>
                        <figure>
                            <a href="https://www.linkedin.com/school/senai-sp/" target="_blank"><img src="imagens/redes_sociais/linkedin.png" alt="Linkedin" title="Acessar Instagram"></a>
                        </figure>
                    </td>
                    <td>
                        <figure>
                            <a href="https://twitter.com/senaisaopaulo" target="_blank"><img src="imagens/redes_sociais/twitter.png" alt="Twitter" title="Acessar Twitter"></a>
                        </figure>
                    </td>
                    <td>
                        <figure>
                            <a href="https://api.whatsapp.com/send?phone=551133220050" target="_blank"><img src="imagens/redes_sociais/whatsapp.png" alt="Whatsapp" title="Whatsapp"></a>
                        </figure>
                    </td>
                    <td>
                        <figure>
                            <a href="https://www.youtube.com/channel/UCaz1BMUVug86pd_uS598X1A" target="_blank"><img src="imagens/redes_sociais/youtube.png" alt="Youtube" title="YouTube"></a>
                        </figure>
                    </td>
                    <td style="width: 40%;"></td> <!-- margem direita-->
                </tr>
            </tfoot>
        </table>

        <table id="footer" style="width: 98vw; background-color: rgb(218, 2, 2);"> <!-- rodapé institucional-->
            <tfoot>
                <tr style="height: 250px;">
                    <td style="width: 20%;"></td>
                    <td style="width: 1%;"></td><!-- margem esquerda-->
                    <td>
                        <h4>Senai Tatuapé - "Frederico Jacob"</h4>
                        <p>
                            Rua São Jorge, 634 - Tatuapé - São Paulo/SP
                            <br>
                            CEP 03087-000
                        </p>
                    </td>
                    <td style="width: 6%;"></td>
                    <td style="width: 6%;"></td>
                    <td style="width: 6%;"></td>
                    <td>
                        <h4>CENTRAL DE RELACIONAMENTO</h4>
                        <p>
                             (11) 22-27-8020 "Telefone/Whatsapp"
                             <br>
                             senaimanutenção@sp.senai.br
                        </p>
                    </td>
                    <td style="width: 1%;"></td>
                    <td style="width: 20%;"></td> <!--Margem direita-->
                </tr>
            </tfoot>
        </table>

        <table style="width: 98vw; background-color: red; text-align: center;">
            <tfoot>
                <tr style="height: 60px;">
                    <td>
                        <p style="font-size: small;">
                           Copyright 2025 © Todos os direitos reservados.
                        </p>
                    </td>
                </tr>
            </tfoot>
        </table>
</body>
</html>