<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jersey+25&family=Jersey+25+Charted&display=swap');
    </style>
    <title>Geek</title>
</head>
<body style="background-color: black; font-family: 'Times New Roman', Times, serif;">
   <table style="font-family: 'Jersey 25'; color: white;">
        <thead> <!-- Aqui mudei todas as fontes inseridas no <thead> e mudei a cor dos elementos (text) também.-->
            <tr>
                <th colspan="10"> <!--Colspan serve para uma célula ocupar mais de uma posição, usando ele nessa situação, acaba centralizando o banner por conta dos <td> (outras células) no restante do código.-->
                    <figure>    
                        <img src="imagens/banner 1900x360.png" alt="banner" style= "border-bottom: 6px solid white; width:100%;"> <!-- O width em % aquis e refere ao tamanho dela na célula, então, ela está ocupando uma célula inteira. Caso tire o width, a imagem vai ficar gigante, 1900x360, seu respectivo tamanho.-->
                    </figure>
                </th>
            </tr>
            
            
            <tr style="font-size: 30px;">
                <th style="border-bottom: 4px dashed white;">
                    <figure>
                        <img src="imagens/Yoshi.png" alt="yoshi" style="width: 200px;">
                    </figure>
                </th>    
                <th></th>
                <th></th>
                <th></th>
                <th></th><!-- <th>'s usados literalmente para centralizar o texto nos <tds> com conteúdo, "ABOUT US, CHARACTERS, CONTACT" '-->
                <th></th>
                <th></th>  
                <th style="border: 4px dashed white;">ABOUT US</th>
                <th style="border: 4px dashed white;">CHARACTERS</th>
                <th style="border: 4px dashed white;">CONTACT</th>
            </tr>
            
        </thead>
    </table>
    
    <table style="height: 50vh;">
        <tbody style="color: white;">
            <td style="width: 5%;"></td> 
            <td>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus libero corporis cumque blanditiis, voluptate, pariatur, numquam temporibus mollitia voluptatum hic sint laboriosam doloribus culpa. Eveniet placeat quisquam repellat aspernatur nihil!
                Laudantium perspiciatis reiciendis ullam blanditiis enim odit harum ducimus at hic doloribus ratione magni est maiores perferendis praesentium odio, aut illum minus quo modi. Cumque, explicabo. Minus illum ea fugit!
                Illum magni obcaecati molestias dignissimos, aperiam veniam, ipsa minima molestiae excepturi rerum tempora vel quae itaque labore architecto in! Ab consequuntur, dolor explicabo assumenda nam culpa modi aliquam incidunt sunt.
                Quam laboriosam sit ducimus facere veniam modi maiores quisquam odio doloremque esse, illum libero quas ab, cupiditate doloribus molestiae expedita rerum provident consequatur animi neque saepe, asperiores porro? Expedita, excepturi.
                Eius ipsam quos rerum praesentium sit suscipit sunt quo voluptatum saepe! Ex rem maiores perferendis minus maxime inventore accusantium earum explicabo, quidem voluptatibus nulla non animi aliquam sequi debitis dolor.
                Ut itaque, dolor ratione at tempora repellendus quod amet commodi dolorum quia est beatae aliquid ad odit, voluptate minus fugit. Quae facere earum velit explicabo quibusdam consequatur corporis esse dolorem.</p>
            </td>
            <td style="width: 5%;"></td>
            <td style="width: 5%;"></td>
            <td>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus libero corporis cumque blanditiis, voluptate, pariatur, numquam temporibus mollitia voluptatum hic sint laboriosam doloribus culpa. Eveniet placeat quisquam repellat aspernatur nihil!
                Laudantium perspiciatis reiciendis ullam blanditiis enim odit harum ducimus at hic doloribus ratione magni est maiores perferendis praesentium odio, aut illum minus quo modi. Cumque, explicabo. Minus illum ea fugit!
                Illum magni obcaecati molestias dignissimos, aperiam veniam, ipsa minima molestiae excepturi rerum tempora vel quae itaque labore architecto in! Ab consequuntur, dolor explicabo assumenda nam culpa modi aliquam incidunt sunt.
                Quam laboriosam sit ducimus facere veniam modi maiores quisquam odio doloremque esse, illum libero quas ab, cupiditate doloribus molestiae expedita rerum provident consequatur animi neque saepe, asperiores porro? Expedita, excepturi.
                Eius ipsam quos rerum praesentium sit suscipit sunt quo voluptatum saepe! Ex rem maiores perferendis minus maxime inventore accusantium earum explicabo, quidem voluptatibus nulla non animi aliquam sequi debitis dolor.
                Ut itaque, dolor ratione at tempora repellendus quod amet commodi dolorum quia est beatae aliquid ad odit, voluptate minus fugit. Quae facere earum velit explicabo quibusdam consequatur corporis esse dolorem.</p>
            </td>
            <td style="width: 5%;"></td>
        </tbody>
    </table>
    
    
    <table style="background-color: white; height: 80vh;">
            <tbody>
                    <tr>
                        <td style="width: 5%;"></td>
                        <td>
                            <figure>
                                <img src="imagens/deadpool 400x356.png" alt="" style="border-radius: 100%;">
                            </figure>
                        </td>
                        <td style="width: 5%;"></td>
                        <td style="width: 5%;"></td>
                        <td>
                            <figure>
                                <img src="imagens/hank-pym 400x356.png" alt="" style="border-radius: 100%;">
                            </figure>
                        </td>
                        <td style="width: 5%;"></td>
                        <td style="width: 5%;"></td>
                        <td>
                            <figure>
                                <img src="imagens/wolverine 400x356.png" alt="" style="border-radius: 100%;">
                            </figure>
                        </td>
                        <td style="width: 5%;"></td>
                    </tr>
                    <tr align="center">
                        <td style="width: 5%;"></td>
                        <td>
                            <h1>Deadpool</h1>
                            <p>Deadpool, cujo nome verdadeiro é Wade Wilson, é um anti-herói da Marvel Comics conhecido por suas habilidades de cura acelerada e senso de humor peculiar. Ele surgiu como um personagem secundário em quadrinhos, mas ganhou destaque como protagonista em seus próprios filmes e séries.</p>
                        </td>
                        <td style="width: 5%;"></td>
                        <td style="width: 5%;"></td>
                        <td>
                            <h1>Homem Formiga</h1>
                            <p>Dr. Henry Jonathan Pym é um personagem que aparece nos quadrinhos americanos publicados pela Marvel Comics. Criado pelo desenhista Jack Kirby, pelo editor-conspirador Stan Lee e pelo escritor Larry Lieber, Pym estreou em Tales to Astonish #27.</p>
                        </td>
                        <td style="width: 5%;"></td>
                        <td style="width: 5%;"></td>
                        <td>
                            <h1>Wolverine</h1>
                            <p>James Howlett, também conhecido como Logan e pelo alter ego Wolverine, é um personagem fictício que se originou como o principal protagonista e figura central da série de filmes X-Men da 20th Century Fox, tendo aparecido em nove filmes desde sua introdução em X-Men, incluindo filmes solo e em conjunto.</p>
                        </td>
                        <td style="width: 5%;"></td>
                    </tr>
            </tbody>
        </table>

    
</body>
</html>