<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
    </style>
    <title>layout em casa</title>
    
</head>


<body style="font-size: 21px; background-color: black;">
        <table class="header" style="font-family: 'Press Start 2P'; color: white; background-color: black;">
            <thead>
                <tr class="banner">
                    <th colspan="5">
                        <figure>
                            <img src="imagens/banner 1900x360.png" alt="banner" style="width: 98%; border-bottom: 10px solid white">
                        </figure>
                    </th>
                </tr>
                <tr class="menu" style="font-size: 22px; height: 40px;">
                    <th style="width: 20%; border-bottom: 4px dashed white;">
                        <figure>
                            <img src="imagens/Yoshi.png" alt="logo" style= "width: 100px;">
                        </figure>
                    </th>
                    <th style="width: 1%;"></th>
                    <th style="border: 4px dashed white;">
                        <h1>About Us</h1>
                    </th>
                    <th style="border: 4px dashed white;">
                        <h1>Characters</h1>
                    </th>
                    <th style="border: 4px dashed white;">
                        <h1>Contact</h1>
                    </th>
                </tr>
            </thead>
        </table>

        <table class="about_us" style="background-color: black; color: white;height: 80vh;">
            <tbody>
                <tr>
                    <td style="width: 5%;"></td>
                    <td>
                        <h1>About Us</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis temporibus ratione voluptatibus, nostrum atque consequuntur nihil. Expedita debitis laudantium fuga sed assumenda blanditiis ipsum consequatur id, esse eius veniam magni.</p>
                    </td>
                    <td style="width: 10%;"></td>
                    <td>
                        <h1>About Us</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis temporibus ratione voluptatibus, nostrum atque consequuntur nihil. Expedita debitis laudantium fuga sed assumenda blanditiis ipsum consequatur id, esse eius veniam magni.</p>
                    </td>
                    <td style="width: 5%;"></td>
                </tr>
            </tbody>
        </table>

        <table class="characters" style="background-color: white;">
            <tbody>
                <tr>
                    <td style="width: 5%;"></td>
                    <td>
                        <figure>
                            <img src="imagens/deadpool 400x356.png" alt="Deadpool" style="border-radius: 100%;">
                        </figure>
                    </td>
                    <td style="width: 10%;"></td>
                    <td>
                        <figure>
                            <img src="imagens/hank-pym 400x356.png" alt="Hank Pym" style="border-radius: 100%;">
                        </figure>
                    </td>
                    <td style="width: 10%;"></td>
                    <td>
                        <figure>
                            <img src="imagens/wolverine 400x356.png" alt=" Wolverine" style="border-radius: 100%;">
                        </figure>
                    </td>
                    <td style="width: 5%;"></td>
                </tr>
                <tr>
                    <td style="width: 5%;"></td>
                    <td align="center">
                        <h1>Personagem</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab velit vitae quidem aut porro! Delectus, rerum ipsa accusantium molestias, adipisci repellat perspiciatis illum corrupti laborum officia sed hic repellendus eveniet!</p>
                    </td>
                    <td style="width: 10%;"></td>
                    <td align="center">
                        <h1>Personagem</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab velit vitae quidem aut porro! Delectus, rerum ipsa accusantium molestias, adipisci repellat perspiciatis illum corrupti laborum officia sed hic repellendus eveniet!</p>
                    </td>
                    <td style="width: 10%;"></td>
                    <td align="center">
                        <h1>Personagem</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab velit vitae quidem aut porro! Delectus, rerum ipsa accusantium molestias, adipisci repellat perspiciatis illum corrupti laborum officia sed hic repellendus eveniet!</p>
                    </td>
                    <td style="width: 5%;"></td>
                </tr>
            </tbody>
        </table>

        <br>

        <table class="footer" style="border-top: 1px dashed white; background-color: red;">
            <tfoot>
                <tr>
                    <td style="width: 50%;"></td>

                    <td>
                        <figure>
                            <a target="_blank" href="https://www.facebook.com/senaisaopaulo"><img src="imagens/redes_sociais/face.png" alt="facebook" title="facebook"></a>
                        </figure>
                    </td>

                    <td>
                        <figure>
                            <a target="_blank" href="https://www.instagram.com/senai.sp"><img src="imagens/redes_sociais/instagram.png" alt="" title="instagram"></a>
                        </figure>
                    </td>

                    <td>
                        <figure>
                            <a target="_blank" href="https://www.linkedin.com/school/senai-sp/"><img src="imagens/redes_sociais/linkedin.png" alt="" title="linkedin"></a>
                        </figure>
                    </td>

                    <td>
                        <figure>
                            <a target="_blank" href="https://twitter.com/senaisaopaulo"><img src="imagens/redes_sociais/twitter.png" alt="twitter" title="twitter"></a>
                        </figure>
                    </td>

                    <td>
                        <figure>
                            <a target="_blank" href="https://api.whatsapp.com/send?phone=551133220050"><img src="imagens/redes_sociais/whatsapp.png" alt="whatsapp" title="whatsapp"></a>
                        </figure>
                    </td>

                    <td>
                        <figure>
                            <a target="_blank" href="https://www.youtube.com/channel/UCaz1BMUVug86pd_uS598X1A"><img src="imagens/redes_sociais/youtube.png" alt="youtube" title="youtube"></a>
                        </figure>
                    </td>

                    <td></td>
                    <td style="width: 50%;"></td>
                </tr>
            </tfoot>
        </table>
        <table style="background-color: rgb(204, 0, 0); color: white;">
            <tfoot>
                <tr>
                    <td style="width: 20%;"></td>
                    <td>
                        <h4>Título</h4>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam facere quo, possimus laudantium iure asperiores aperiam voluptatibus minima dignissimos. Optio deserunt maxime incidunt inventore, blanditiis ducimus atque cum provident dolores?</p>
                    </td>
                    <td style="width: 20%;"></td>
                    <td>
                        <h4>Título</h4>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam facere quo, possimus laudantium iure asperiores aperiam voluptatibus minima dignissimos. Optio deserunt maxime incidunt inventore, blanditiis ducimus atque cum provident dolores?</p>
                    </td>
                    <td style="width: 20%;"></td>
                </tr>
            </tfoot>
        </table>
        <table style="background-color: red; color: white;">
            <tfoot>
                 <tr>
                    <td style="width: 40%;"></t>
                    <td>
                        <p><i>Copyright 2025 © Todos os direitos reservados.</i></p>
                    </td>
                    <td style="width: 40%;"></td>
                </tr>
            </tfoot>
        </table>
</body>