<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeekV2</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>
                    <figure>
                        <img src="imagens/banner 1900x360.png" alt="">
                    </figure>
                </th>
            </tr>
                <th> 
                    <figure>
                    <img src="imagens/Yoshi.png" alt="">
                    </figure>
                </th>
                <th>About Us</th>
                <th>Info</th>
                <th><p>Characters</p></th>
        </thead>
    </table>
    
</body>
</html>