<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
    </style>
    <title>LayoutemCasa4</title>
</head>
<body style="background-color: black;">
    <table id="header" style="font-family: 'Press Start 2P'; color: white;">
        <thead class="banner">
            <tr>
                <th colspan="5">
                    <figure>
                        <img src="imagens/banner 1900x360.png" alt="banner">
                    </figure>
                </th>
            </tr>
        </thead>
        
        <thead class="menu">
            <tr>
                    <th style="border-bottom: 4px dashed white;">
                        <figure>
                            <img src="imagens/Yoshi.png" alt="logo">
                        </figure>
                    </th>
                    <th style="width: 1%;"></td>
                    <th style="border: 4px dashed white;">
                        <a href="#about_us">
                            <h1 align="center">About Us</h1>
                        </a>
                    </th>
                    <th style="border: 4px dashed white;">
                        <a href="#characters">
                            <h1 align="center">Characters</h1>
                        </a>
                    </th>
                    <th style="border: 4px dashed white;">
                        <a href="#footer">
                            <h1 align="center">Contacts</h1>
                        </a>
                    </th>
            </tr>
        </thead>

    </table>
    <table id="about_us">
        <tbody style="background-color: black; color: white;">
            <tr>
                <td style="width: 5%;"></td>
                <td>
                    <h1>Título</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus illo sequi accusamus at ullam cumque eaque. Fuga veritatis autem nisi ea repellat dolorem. Fuga maxime, quidem excepturi illo deleniti ab?</p>
                </td>
                <td style="width: 10%;"></td>
                <td>
                    <h1>Título</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus illo sequi accusamus at ullam cumque eaque. Fuga veritatis autem nisi ea repellat dolorem. Fuga maxime, quidem excepturi illo deleniti ab?</p>
                </td>
                <td style="width: 5%;"></td>
            </tr>
        </tbody>
    </table>
    <table id="characters" style="background-color: white; color: black;">
        <tbody>
            <tr>
                <td style="width: 5%;"></td>
                <td>
                    <figure>
                        <a  target="_blank" href="https://www.youtube.com/watch?v=Xithigfg7dA&pp=ygURdHJhaWxkZXIgZGVhZHBvb2w%3D"><img src="imagens/deadpool 400x356.png" alt="Deadpool" title="Assistir Trailer" style="border-radius: 100%;"></a>
                    </figure>
                </td>
                <td style="width: 10%;"></td>
                <td>
                    <figure>
                        <a  target="_blank" href="https://www.youtube.com/watch?v=OPUeb3z_kVo&pp=ygUQdHJhaWxlciBoYW5rIHB5bdIHCQnNCQGHKiGM7w%3D%3D"><img src="imagens/hank-pym 400x356.png" alt="Hank Pym" title="Assistir Trailer" style="border-radius: 100%;"></a>
                    </figure>
                </td>
                <td style="width: 10%;"></td>
                <td>
                    <figure>
                        <a  target="_blank" href="https://youtu.be/AF_f8kl8lJQ?si=foXVqXzr9-WPvBHW"><img src="imagens/wolverine 400x356.png" alt="Wolverine" title="Assistir Trailer" style="border-radius: 100%;"></a>
                    </figure>
                </td>
                <td style="width: 5%;"></td>
            </tr>
                        <tr>
                <td style="width: 5%;"></td>
                <td align="center">
                    <h2>Deadpool</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt possimus aliquid nemo harum adipisci quae est unde quisquam impedit sit quo, reiciendis voluptatibus ullam excepturi. Omnis, quisquam quis. Obcaecati, mollitia.</p>
                </td>
                <td style="width: 10%;"></td>
                <td align="center">
                    <h2>Hank Pym</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt possimus aliquid nemo harum adipisci quae est unde quisquam impedit sit quo, reiciendis voluptatibus ullam excepturi. Omnis, quisquam quis. Obcaecati, mollitia.</p>
                </td>
                <td style="width: 10%;"></td>
                <td align="center">
                    <h2>Wolverine</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt possimus aliquid nemo harum adipisci quae est unde quisquam impedit sit quo, reiciendis voluptatibus ullam excepturi. Omnis, quisquam quis. Obcaecati, mollitia.</p>
                <td style="width: 5%;"></td>
            </tr>
        </tbody>
    </table>
    
    <br>

    <table id="footer" style="background-color: red; color: white; border-top: 1px dashed white;">
        <tfoot>
            <tr>
                <td style="width:40%;"></td>
                <td>
                    <figure>
                        <a target="_blank" href="https://www.facebook.com/senaisaopaulo"><img src="imagens/redes_sociais/face.png" alt="Facebook" title="Acessar Facebook"></a>
                    </figure>
                </td>
                <td>
                    <figure>
                        <a target="_blank" href="https://www.instagram.com/senai.sp"><img src="imagens/redes_sociais/instagram.png" alt="Instagram" title="Acessar Instagram"></a>
                    </figure>
                </td>
                <td>
                    <figure>
                        <a target="_blank" href="https://www.linkedin.com/school/senai-sp/"><img src="imagens/redes_sociais/linkedin.png" alt="Linkedin" title="Acessar Linkedin"></a>
                    </figure>
                </td>
                <td>
                    <figure>
                        <a target="_blank" href="https://twitter.com/senaisaopaulo"><img src="imagens/redes_sociais/twitter.png" alt="Twitter" title="Acessar Twitter"></a>
                    </figure>
                </td>
                <td>
                    <figure>
                        <a href="https://api.whatsapp.com/send?phone=551133220050"><img src="imagens/redes_sociais/whatsapp.png" alt="Whatsapp" title="Acessar Whatsapp"></a>
                    </figure>
                </td>
                <td>
                    <figure>
                        <a target="_blank" href="https://www.youtube.com/channel/UCaz1BMUVug86pd_uS598X1A"><img src="imagens/redes_sociais/youtube.png" alt="YouTube" title="Acessar YouTube"></a>
                    </figure>
                </td>
                <td style="width: 40%;"></td>
            </tr>
        </tfoot>
    </table>
    <table style="background-color: rgb(218, 0, 0); color: white;">
        <tfoot>
            <tr>
                <td style="width: 20%;"></td>
                <td>
                    <h1>Título</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id suscipit qui consequuntur ab optio repudiandae in, ex nam atque libero officia magni eius mollitia numquam odit maiores iure dolor dolore!</p>
                </td>
                <td style="width: 20%;"></td>
                <td>
                    <h1>Título</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id suscipit qui consequuntur ab optio repudiandae in, ex nam atque libero officia magni eius mollitia numquam odit maiores iure dolor dolore!</p>
                </td>
                <td style="width: 20%;"></td>
            </tr>
        </tfoot>
    </table>
    <table style="background-color: red; color: white;">
        <tfoot>
            <tr>
                <td style="width: 42%;">

                </td>
                <td>
                    <p><i>Copyright 2025 © Todos os direitos reservados.</i></p>
                </td>
                <td style="width: 42%;">

                </td>
            </tr>
        </tfoot>
    </table>
    
</body>
</html>