<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LayoutEmCasa6</title><style>
    @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
    </style>
</head>

<body style="background-color: black; color: white;">
    <table id="header" style="font-family: 'Press Start 2P';">
        <thead class="banner">
            <tr>
                <th colspan="5">
                    <figure>
                        <img src="imagens/banner 1900x360.png" alt="banner">
                    </figure>
                </th>
            </tr>
            <tr class="menu">
                <th style="border-bottom: 4px dashed white;">
                    <figure>
                        <img src="imagens/Yoshi.png" alt="logo">
                    </figure>
                </th>
                <th style="width: 1%;"></th>
                <th align="center" style="border: 4px dashed white;"><h1><a href="#about_us">About Us</a></h1></th>
                <th align="center" style="border: 4px dashed white;"><h1><a href="#characters">Characters</a></h1></th>
                <th align="center" style="border: 4px dashed white;"><h1><a href="#footer">Contact</a></h1></th>
            </tr>
        </thead>
    </table>
    <table id="about_us">
        <tbody>
            <tr>
                <td style="width: 5%;"></td>
                <td>
                    <h1>Título</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus sint aut voluptates. Recusandae dolore cumque esse distinctio deserunt quod, facere ut eius, atque ea debitis dolor ad id minima beatae.</p>
                </td>
                <td style="width: 10%;"></td>
                <td>
                    <h1>Título</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus sint aut voluptates. Recusandae dolore cumque esse distinctio deserunt quod, facere ut eius, atque ea debitis dolor ad id minima beatae.</p>
                </td>
                <td style="width: 5%;"></td>
            </tr>
        </tbody>
    </table>
    <table id="characters" style="background-color: white; color: black;">
        <tbody>
            <tr>
                <td style="width: 5%;"></td>
                <td>
                    <figure>
                        <a href="https://www.youtube.com/watch?v=Xithigfg7dA&pp=ygURdHJhaWxkZXIgZGVhZHBvb2w%3D" target="_blank"><img src="imagens/deadpool 400x356.png" alt="Deadpool" title="Assistir Trailer" style="border-radius: 100%;"></a>
                    </figure>
                </td>
                <td style="width: 5%;"></td>
                <td>
                    <figure>
                        <a href="https://www.youtube.com/watch?v=OPUeb3z_kVo&pp=ygUQdHJhaWxlciBoYW5rIHB5bdIHCQnNCQGHKiGM7w%3D%3D" target="_blank"><img src="imagens/hank-pym 400x356.png" alt="Hank Pym" title="Assistir Trailer" style="border-radius: 100%;"></a>
                    </figure>
                </td>
                <td style="width: 5%;"></td>
                <td>
                    <figure>
                        <a href="https://youtu.be/AF_f8kl8lJQ?si=foXVqXzr9-WPvBHW" target="_blank"><img src="imagens/wolverine 400x356.png" alt="Wolverine" title="Assistir Trailer" style="border-radius: 100%;"></a>
                    </figure>
                </td>
                <td style="width: 5%;"></td>
            </tr>
            <tr>
                <td style="width: 5%;"></td>
                <td align="center">
                    <h1>Nome</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta cumque aut qui nam eaque deleniti magnam quod sunt expedita, aspernatur dolore nulla repudiandae mollitia ipsum doloremque eveniet repellendus, perferendis error.</p>
                </td>
                <td style="width: 5%;"></td>
                <td align="center">
                    <h1>Nome</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta cumque aut qui nam eaque deleniti magnam quod sunt expedita, aspernatur dolore nulla repudiandae mollitia ipsum doloremque eveniet repellendus, perferendis error.</p>
                </td>
                <td style="width: 5%;"></td>
                <td align="center">
                    <h1>Nome</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta cumque aut qui nam eaque deleniti magnam quod sunt expedita, aspernatur dolore nulla repudiandae mollitia ipsum doloremque eveniet repellendus, perferendis error.</p>
                </td>
                <td style="width: 5%;"></td>
            </tr>
        </tbody>
    </table>
    <br>
    <table id="footer" style="border-top: 1px dashed white; background-color: red;">
    <tfoot>
        <tr>
            <td style="width: 40%;"></td>
            <td>
                <figure>
                    <a href="https://www.facebook.com/senaisaopaulo" target="_blank"><img src="imagens/redes_sociais/face.png" alt="Facebook" title="Acessar Facebook"></a>
                </figure>
            </td>
            <td>
                <figure>
                    <a href="https://www.instagram.com/senai.sp" target="_blank"><img src="imagens/redes_sociais/instagram.png" alt="" title="Acessar Instagram"></a>
                </figure>
            </td>
            <td>
                <figure>
                    <a href="https://www.linkedin.com/school/senai-sp/" target="_blank"><img src="imagens/redes_sociais/linkedin.png" alt="" title="Acessar Linkedin"></a>
                </figure>
            </td>
            <td>
                <figure>
                    <a href="https://twitter.com/senaisaopaulo" target="_blank"><img src="imagens/redes_sociais/twitter.png" alt="" title="Acessar Twitter"></a>
                </figure>
            </td>
            <td>
                <figure>
                    <a href="https://api.whatsapp.com/send?phone=551133220050" target="_blank"><img src="imagens/redes_sociais/whatsapp.png" alt="" title="Acessar Whatsapp"></a>
                </figure>
            </td>
                        <td>
                <figure>
                    <a href="https://www.youtube.com/channel/UCaz1BMUVug86pd_uS598X1A" target="_blank"><img src="imagens/redes_sociais/youtube.png" alt="YouTube" title="Acessar YouTube"></a>
                </figure>
            </td>
            <td style="width: 40%;"></td>
        </tr>
    </tfoot>
</table>
<table style="background-color: rgb(182, 0, 0);">
    <foot>
        <tr>
            <td style="width: 20%;"></td>
            <td>
                <h1>Título</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quo, rem unde ut quia quibusdam sapiente qui veritatis sed consequuntur consectetur eos quod optio libero atque quidem ducimus repellat perferendis.</p>
            </td>
            <td style="width: 20%;"></td>
            <td>
                <h1>Título</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quo, rem unde ut quia quibusdam sapiente qui veritatis sed consequuntur consectetur eos quod optio libero atque quidem ducimus repellat perferendis.</p>
            </td>
            <td style="width: 20%;"></td>
        </tr>
    </foot>
</table>
<table style="background-color: red;">
    <tfoot>
        <tr>
            <td style="width: 45%;"></td>
            <td>
                <p><i>
                    Copyright 2025 © Todos os direitos reservados.
                </i></p>
            </td>
            <td style="width: 45%;"></td>
        </tr>
    </tfoot>
</table>

    
    
</body>
</html>