body { background-color: rgb(248, 248, 245);
    font-size: 20px; /* comentário no css */
    margin: 0;

}

/*HEADER*/


header {
    background-color: rgb(255, 255, 255);
    margin: 0 5%;
    padding: 0.5% 0 0.5% 65%;
    border-bottom: 8px solid #ff6600;
}

.link {
    font-size: 25px;
    padding: 5px 27px; /* valor vertical e horizontal dos "botões" do header.*/
    background-color: #009bc2;
    text-decoration: none;
    color: #ffffff;
} /* como é um class, é .(nome) */

.senaisp {
    background-color:#c33d3d;
}

.fiesp {
    background-color: #000000bd;

}

/*BODY*/

main {
    background-color: #ffffff;
    margin: 0 5%;
    padding: 1% 0% 5% 2%

}

span {
    color: #009bc2;
}

h1 {
    font-family: Arial, 'Helvetica', sans-serif;
    font-size: 46px;
    color: #009bc2;
    text-shadow: 2px 2px 2px grey; /* x, y, progessão da sombra (discipação)/*
    /*também existe (box-shadow) para sombrear caixas */

}

h2, h3 {
    font-family: 'Times New Roman', Times, serif; /* ( ' nome da fonte' prioriza a fonte dentre as outras ) */
    font-weight: 900; /*  (font-weight) muda o peso da fonte, 100 - 900 e lighter para bolder*/
    color: #ff6600;
    margin-top: 80px;

}

h2 {
    font-size: 40px;
}

h3 {
    font: 27px;
}

p {
    padding: 0 10% 0 1%;
}

img {
    margin-left: 15%;
    box-shadow: 2.3px -1px 8px grey; /* - a sombra vai pro sentido contrário */
}

/*FOOTER*/

footer {
    background-color: #ff0026;
    width: 100%;
    padding: 1% 0;
}

.redes>a>img {
    box-shadow: none;
    margin-left: 13% ;
    padding-bottom: 1%;

}

.contato {
    background-color: #b91b32;
    padding: 2%;
    color: white;
}

.contato p {
    text-align: center;
}

.title {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.copyright {
    text-align: center;
    color: white;
}
