body { background-color: rgb(248, 248, 245);
    font-size: 20px; /* comentário no css */
    margin: 0;

}

/*HEADER*/


header {
    background-color: rgb(255, 255, 255);
    margin: 0 5%;
    padding: 0.5% 0 0.5% 65%;
    border-bottom: 8px solid #ff6600;
}

.link {
    font-size: 25px;
    padding: 5px 27px; /* valor vertical e horizontal dos "botões" do header.*/
    background-color: #009bc2;
    text-decoration: none;
    color: #ffffff;
} /* como é um class, é .(nome) */

.senai {
    background-color:#c33d3d;
}

.fiesp {
    background-color: #000000bd;

}

/*BODY*/

main {
    background-color: #ffffff;
    margin: 0 5%;
    padding: 1% 0% 5% 2%

}

span {
    color: #009bc2;
}

h1 {
    font-family: Arial, 'Helvetica', sans-serif;
    font-size: 46px;
    color: #009bc2;
    text-shadow: 2px 2px 2px grey; /* x, y, progessão da sombra (discipação)/*
    /*também existe (box-shadow) para sombrear caixas */

}

h2, h3 {
    font-family: 'Times New Roman', Times, serif; /* ( ' nome da fonte' prioriza a fonte dentre as outras ) */
    font-weight: 900; /*  (font-weight) muda o peso da fonte, 100 - 900 e lighter para bolder*/
    color: #ff6600;
    margin-top: 80px;

}

h2 {
    font-size: 40px;
}

h3 {
    font: 27px;
}

p {
    padding: 0 10% 0 1%;
}



.imgredes {
    box-shadow: none;
}

.h3contato {
    color:white;
    margin-top: 10px;
    
}

.pai {
    width: 60%;
    height: 100px;
    background: #7c7c7c;

}

.bloco div {
    display: block; /* o block considera os elementos como blocos verticais */
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    background:#00ff22
}

.emLinha div {
    display: inline; /* Inline coloca os elementos na mesma linha. Não se tem ajuste de largura e altura nessa opção */
    border: 1px solid black;
    border-radius: 50%;
    padding: 20px 25px;
    text-align: center;
    background:#00ff22; 
    position: relative;
    top: 40px;

}

.blocoEmLinha div {
    display: inline-block; /* Inline-block consegue colocar elementos na mesma linha e mudar sua altura e largura. */
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 20px;
    text-align: center;
    background:#00ff22;

}

footer {
    background: red;
    width: 100vw;
}

.redes {
    display: inline-block;
    margin-left: 45%;
}

.contato {
    margin-left: 35%
}

.contato span {
 color: rgb(40, 40, 121);
}   

.contato p {
 color: rgb(255, 255, 255);
 font-weight: 100;
}


.info {
    position: relative;
    left: -25%;
    width: 200px;
     
}

.info2 {
    position: absolute;
    right: 20%;
    bottom: -65%;

     
}

.direitos {
    position: relative;
    left: 40%;
    color: rgb(255, 255, 255);
    font-weight: 100;

}



