

@import url('https://fonts.googleapis.com/css2?family=Anaheim:wght@400..800&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Anaheim';
}
body {
    color: white;
    background: rgb(22, 22, 22);

}






.menu {
    width: 100%;
    height: 7.2rem;
    background: #156300;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    

}   

.menu>ul>a {
    text-decoration: none;
    color: white;
    display: inline-block;
    
}

.menu>ul {
    list-style-type: none;
    font-size: 4rem;
    font-weight: bold;

}

.menu>ul>a>li {
    padding: 0.4rem 1rem;
    border-radius: 1rem;
    margin-left: 1rem;
}


.menu>div {
    size: 1.6rem;
    display: flex;
    margin-top: 1rem;
    margin-left: 8rem;
    flex-direction: row;

    
}

.menu>div>a>img {
    height: 2.4rem
}

.menu>div>a>img:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.2);

}

.menu>ul>a>li:hover {
    cursor: pointer;
    color: rgb(0, 0, 0);
    background: white;
    transition: 0.3s;
    transform: scale(1.1);
    text-align: center;
    border-radius: 1rem;

}








.comeco {
    
    width: 100%;
    height: 80vh;
    background: url(imagens/foto_principal.png) center no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10rem 10rem 10rem;
    gap: 10rem;


}

.inicio .logo {
    width: 20rem;

}

.inicio .text {
    text-align: center;
    max-width: 100rem;

}

.inicio h1 {
    color: white;
    font-size: 4rem;
}


.inicio p {

    color: white;
    text-align: center;
    font-size: 1.6rem;
}

.inicio p span {
    color: green;

}






.proximo_jogo {
    background:#156300;
    width: 100%;
    height: 14.4rem;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.proximo_jogo .wolfsburg {
    width: 30rem;
    display:flex;
    gap: 1rem;
    align-items:center;
    justify-content: center;
    

}

.proximo_jogo .wolfsburg img{
    order: 2;
    
}

.proximo_jogo .wolfsburg .text{
    order: 1;
    font-size: 2rem;
    
}

.proximo_jogo .oponente {
    width: 30rem;
    display:flex;
    gap: 1rem;
    align-items:center;
    justify-content: center;
}

.proximo_jogo .oponente img{
    order: 1;
}   

.proximo_jogo .oponente .text{
    order:2;
    font-size: 2rem;

}

.proximo_jogo .vs {
    font-size: 4rem;

    
}















.titulo_jogadoras25-26 {
    width: 100%;
    height: 16rem;
    font-size: 7rem;

    display: flex;
    justify-content: center;
    align-items: center;
}


.container-jogadoras::after {
    content: '';
    display: block;
    width: 40%;
    margin: 3rem auto 0 auto;
    border-bottom: 0.2rem solid grey;
}

.container-jogadoras h3{
    
    font-size: 3rem;
    border-bottom: 2px solid green;
    width: fit-content;
    margin: 5rem auto 2rem auto;
    padding-bottom: 0.5rem;
    text-align: center;
}



.jogadoras1 {

    margin: 0% 30%;
    text-align: center;
}

.jogadorapadrao {
    
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    text-align: center;
}

.jogadorapadrao img {
    width: 14rem;
}

.jogadorapadrao h4 {
    
    color: white;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(2, 190, 2);
    font-size: 0px;
}

.jogadoras2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;

    max-width: 100rem;
    width: 100%;
    margin: auto;
}

.jogadoras3 {
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;

    max-width: 100rem;
    width: 100%;
    margin: auto;
}

.jogadoras4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;

    max-width: 100rem;
    width: 100%;
    margin: auto;
}











.classificacao {
    display: flex;
    align-items: center;
    justify-content: center;
    background:#156300;
    width: 100%;
    margin-top: 10rem;
    color: white;
}


.classificacao .campeonato_temporada{
    font-size: 2rem;

    
}

.classificacao .campeonato_temporada h4{
    font-size: 2rem;

}

.wolfs_colocacao{
    display:flex;
    gap: 1rem;
    align-items:center;
    justify-content: center;

}

.wolfs_colocacao h2 {
    font-size:10rem;
}

.wolfs_colocacao img {
    width: 7rem;

}





















.titulo_produtos {
    font-size: 6rem;
    border-bottom: 2px solid green;
    width: fit-content;
    margin: 5rem auto 2rem auto;
    padding-bottom: 0.5rem;
    text-align: center;

}

.acessar_loja_oficial {
    margin:0 3rem;
    height: 6rem;
    display: flex;
    align-items: end;
    justify-content: end;
}

.acessar_loja_oficial h4{
    width: 10rem;
    background-color: #156300;
    border-radius: 1rem;
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
}

.acessar_loja_oficial a {
    text-decoration: none;
    color: white;
}

.acessar_loja_oficial h4:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
    background: rgb(0, 202, 0);
    transition: 0.3s;
    transform: scale(1.1);
    text-align: center;
    border-radius: 10px;
}






.produtos {
    margin-top: 6rem;

    display: flex;
    justify-content: center;
    align-items: center;   
    
}

.produtopadrao {
    display: inline-block;
    margin: 0rem 1rem 2rem 3rem ;
}

.produtopadrao:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.1);


}

.produtopadrao img {
    width: 30rem;
}

.produtopadrao h4 {
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.produtopadrao span {
  font-weight: 500;
}

.produtopadrao:hover h4 {
    transition: 0.3s;
    color: green;
}











.premios {
    margin-top: 4rem;
    background:#156300;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 14.4rem;    
    color: white;
    gap: 4rem;
    
}







.campeonato1 {
    background: rgba(0, 0, 0, 0.267);
    width: 40rem;
    height: 11.2rem;
    display: flex;
    justify-content:center;
    align-items: center;
}

.campeonato_temporada{
    width: 40rem;
    margin:0 4rem;
}



.campeonato_temporada h4{
    font-size: 1.6rem;


}

.campeonato_temporada p{
    color: rgb(219, 219, 219);
    font-size: 1.5rem;

}

.campeonato2 {
    background: rgba(0, 0, 0, 0.267);
    width: 40rem;
    height: 11.2rem;
    display: flex;
    justify-content:center;
    align-items: center;
    

}

.campeonato3 {
    background: rgba(0, 0, 0, 0.267);
    width: 40rem;
    height: 11.2rem;
    display: flex;
    justify-content:center;
    align-items: center;
}








.titulo_historia {
    font-size: 6rem;
    border-bottom: 2px solid green;
    width: fit-content;
    margin: 5rem auto 2rem auto;
    padding-bottom: 0.5rem;    
}



.historia_imagem_texto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem; 
}

.imagem_historia {

 
}

.texto_historia {
  width: 40%;  
  font-size: 3rem;
  text-align: center;
}










.rodape_divisor {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#156300;
    width: 100%;
    
    
}

.rodape_divisor img{

    width: 12.4rem;

}







.rodape_informacoes {
    display: flex;
    justify-content: center;
    background:#115000;
    width: 100%;
    font-size: 10rem;
    color: white;
    gap: 10rem;
    padding: 8rem 0;
    
}


.rodape_informacoes span a {
    font-weight: 100;
    text-decoration: none;
    color: white;
    

}

.rodape_informacoes h3 {
    margin-bottom: -2rem;
    

}

.rodape_informacoes .informacoes3 .informacoes3_2 {
    font-size: 6rem;
    margin-top: 8rem;

    
}


    








.rodape_final {
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#115000;
    width: 100%;
    font-size: 2rem;
    color: white;
}
    
.rodape_final h1{

    font-size: 14rem;
    color:#156300 ;

    letter-spacing:.5rem;
    white-space: nowrap;
    overflow: hidden

    
}







#proximo_jogo {
    scroll-margin-top: 300px;
}

#classificacao {
    scroll-margin-top: 300px;
}

#sessao_jogadoras {
    scroll-margin-top: 90px;
}

#loja {
   scroll-margin-top: 300px; 
}

#premios {
   scroll-margin-top: 300px; 
}

#historia {
   scroll-margin-top: 100px; 





}

.opcao_contato li {
    background-color: #FFD700;
    color: black;
}

.jogadorapadrao figcaption {
  background-color: rgb(2, 190, 2);
  display: flex;
  justify-content: center;
  
}

.nomejogadora {
  font-size: 1.5rem; 
  color: white;
  padding: 1rem;
  border-radius: 0.2rem;
  font-weight: bold;

}

figcaption span{
  font-size: 1.5rem; 
  color: white;
  background-color: #156300;
  padding: 1rem;
  margin-left: -4rem;
  font-weight: bold;
 
  
}


.jogadorescalacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}














@media print {

header { 
        display: none;
    }


h1 {
    font-family: Arial, 'Helvetica', sans-serif;
    font-size: 4rem;
    line-height: 4rem;  
    padding-top: 6rem;
    text-align: center;
}

h2, h3 {
    font-family: Arial, 'Helvetica', sans-serif;
    font-size: 3rem;
    line-height: 4rem;
    padding-top: 6rem;
    text-align: center;
}

p {
    line-height: 4rem; 
}

h4 {
    line-height: 3rem; 
}

}

/* @media screen and (max-width: 768px) {
    
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .menu {
    width: 100%;
    height: 7.2rem;
    
    flex-direction: column;
} 

    .menu div {
    width: 100%;
    height: 7.2rem;
    flex-direction: column;
}  

.menu>ul>a {
    display: flex;
    
    
}

.menu>ul {
    font-size: 3rem;
}




.menu>div {
    size: 1.6rem;
}

.menu>div>a>img {
    height: 1.4rem
}


.comeco {
    width: 100%;
    height: 70vh;

}
    
.inicio {
    width: 100%;
    height: 50vh;
    padding: 0 1rem 10rem 1rem;


}

.inicio .logo {
    width: 10rem;

}

.inicio .text {
    margin: 1rem;
    max-width: 20rem;

}

.inicio h1 {

    font-size: 1.4rem;
}


.inicio p {

    font-size: 1rem;
}
   



.proximo_jogo {
    background:#156300;
    width: 100%;
    height: 10rem;
    color: white;
    gap: 1rem;
}

.proximo_jogo .wolfsburg img{
    order: 2;
    width: 5rem;
    
}

.proximo_jogo .wolfsburg .text{
    order: 1;
    font-size: 1rem;
    
}

.proximo_jogo .oponente {
    width: 30rem;
    gap: 1rem;

}

.proximo_jogo .oponente img{
    order: 1;
    width: 5rem;
}   

.proximo_jogo .oponente .text{
    order:2;
    font-size: 1rem;

}

.proximo_jogo .vs {
    font-size: 2rem;

    
}




} */









