

@import url('https://fonts.googleapis.com/css2?family=Anaheim:wght@400..800&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Anaheim';
}
body {
    color: white;
    background: rgb(22, 22, 22);

}






.menu {
    width: 100%;
    height: 7.2rem;
    background: #156300;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;

}   

.menu>ul>a {
    text-decoration: none;
    color: white;
    display: inline-block;
    
}

.menu>ul {
    list-style-type: none;
    font-size: 4rem;
    font-weight: bold;

}

.menu>ul>a>li {
    padding: 0.4rem 1rem;
    border-radius: 1rem;
    margin-left: 1rem;
}


.menu>div {
    size: 1.6rem;
    display: flex;
    margin-top: 1rem;
    margin-left: 8rem;
    flex-direction: row;

    
}

.menu>div>a>img {
    height: 2.4rem
}

.menu>div>a>img:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.2);

}

.menu>ul>a>li:hover {
    cursor: pointer;
    color: rgb(0, 0, 0);
    background: white;
    transition: 0.3s;
    transform: scale(1.1);
    text-align: center;
    border-radius: 1rem;

}








.comeco {
    
    width: 100%;
    height: 80vh;
    background: url(imagens/foto_principal.png) center no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio {

    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem 10rem 10rem;


}

.inicio .logo {
    width: 20rem;

}

.inicio .text {
    text-align: center;
    max-width: 70rem;

}

.inicio h1 {
    color: white;
    font-size: 6rem;
}


.inicio p {

    color: white;
    text-align: center;
    font-size: 1.6rem;
}

.inicio p span {
    color: green;

}






.proximo_jogo {
    background:#156300;
    width: 100%;
    height: 14.4rem;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.proximo_jogo .wolfsburg {
    width: 30rem;
    display:flex;
    gap: 1rem;
    align-items:center;
    justify-content: center;
    

}

.proximo_jogo .wolfsburg img{
    order: 2;
    
}

.proximo_jogo .wolfsburg .text{
    order: 1;
    font-size: 2rem;
    
}

.proximo_jogo .oponente {
    width: 30rem;
    display:flex;
    gap: 1rem;
    align-items:center;
    justify-content: center;
}

.proximo_jogo .oponente img{
    order: 1;
}   

.proximo_jogo .oponente .text{
    order:2;
    font-size: 2rem;

}

.proximo_jogo .vs {
    font-size: 4rem;

    
}















.titulo_jogadoras25-26 {
    width: 100%;
    height: 16rem;
    font-size: 7rem;

    display: flex;
    justify-content: center;
    align-items: center;
}


.container-jogadoras::after {
    content: '';
    display: block;
    width: 40%;
    margin: 3rem auto 0 auto;
    border-bottom: 0.2rem solid grey;
}

.container-jogadoras h3{
    
    font-size: 3rem;
    border-bottom: 2px solid green;
    width: fit-content;
    margin: 5rem auto 2rem auto;
    padding-bottom: 0.5rem;
    text-align: center;
}



.jogadoras1 {

    margin: 0% 30%;
    text-align: center;
}

.jogadorapadrao {
    
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    text-align: center;
}

.jogadorapadrao img {
    width: 14rem;
}

.jogadorapadrao h4 {
    
    color: white;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(2, 190, 2);
    font-size: 0px;
}

.jogadoras2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;

    max-width: 100rem;
    width: 100%;
    margin: auto;
}

.jogadoras3 {
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;

    max-width: 100rem;
    width: 100%;
    margin: auto;
}

.jogadoras4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;

    max-width: 100rem;
    width: 100%;
    margin: auto;
}











.classificacao {
    display: flex;
    align-items: center;
    justify-content: center;
    background:#156300;
    width: 100%;
    margin-top: 10rem;
    color: white;
}


.classificacao .campeonato_temporada{
    font-size: 2rem;

    
}

.classificacao .campeonato_temporada h4{
    font-size: 2rem;

}

.wolfs_colocacao{
    width: 30rem;
    display:flex;
    gap: 1rem;
    align-items:center;
    justify-content: center;

}

.wolfs_colocacao h2 {
    font-size:10rem;
}

.wolfs_colocacao img {
    width: 7rem;

}



















.titulo_botao_produtos {
    width: 100%;
    gap: 10rem;

}



.titulo_produtos {
    width: 100%;
    height: 6rem;
    font-size: 6rem;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 3rem auto 0 auto;
    border-bottom: 0.2rem solid #156300;
    width: 20%;
}

.acessar_loja_oficial {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    margin-left: -30rem;
}

.acessar_loja_oficial h4{
    width: 10rem;
    background-color: #156300;
    border-radius: 1rem;
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
}

.acessar_loja_oficial a {
    text-decoration: none;
    color: white;
}

.acessar_loja_oficial h4:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
    background: rgb(0, 202, 0);
    transition: 0.3s;
    transform: scale(1.1);
    text-align: center;
    border-radius: 10px;
}


.produtos {
    position: absolute;
    top: 425%;
    display: inline-block;
    left: 5%;
    
}

.produtopadrao {
    display: inline-block;
    margin: 0px 10px 20px 30px ;
}

.produtopadrao:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.1);


}

.produtopadrao img {
    width: 297px;
}

.produtopadrao h4 {
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.produtopadrao span {
  font-weight: 500;
}

.produtopadrao:hover h4 {
    transition: 0.3s;
    color: green;
}

.premios {
    background:#156300;
    position: absolute;
    width: 100%;
    height: 144px;
    top: 490%;
    color: white;
    
}



.campeonato1 {
    position: absolute;
    top: 10%;
    left: 10%;
    background: rgba(0, 0, 0, 0.267);
    width: 400px;
    height: 112px;
}

.premios .campeonato_temporada{
    display: inline-block;
    text-align: center;  
}



.premios .campeonato_temporada h4{
    font-size: 16px;
    position: absolute;
    top: 10px;


}

.premios .campeonato_temporada p{

    position: absolute;
    top: 30px;
    color: rgb(219, 219, 219);

}

.campeonato2 {
    position: absolute;
    top: 10%;
    left: 40%;
    background: rgba(0, 0, 0, 0.267);
    width: 400px;
    height: 112px;
}

.campeonato3 {
    position: absolute;
    top: 10%;
    left: 70%;
    background: rgba(0, 0, 0, 0.267);
    width: 400px;
    height: 112px;
}

.titulo_historia {
    position: absolute;
    top: 520%;
    left: 43%;
    font-size: 40px;
    border-bottom: 2px solid rgb(0, 128, 0) ;
    
}

.historia_imagem_texto {
    position: absolute;
    top: 540%;
    left: 10%;
    display: flex;

}

.historia_imagem_texto p {
    position: absolute;
    top: 8%;
    left: 110%;
    width: 900px;
    font-size: 20px;

}



.rodape_divisor {
    position: absolute;
    top: 600%;
    background:#156300;
    width: 100%;
    height: 144px;
    
}

.rodape_divisor img{
    position: relative;
    top: 10%;
    left: 45%;
    width: 124px;

}

.rodape_informacoes {
    position: absolute;
    top: 616%;
    background:#115000;
    width: 100%;
    height: 392px;
    font-size: 20px;
    color: white;
    
}


.rodape_informacoes span a {
    font-weight: 100;
    text-decoration: none;
    color: white;
    

}

.rodape_informacoes .informacoes1 {
    position: relative;
    top: 30%;
    left: 10%;
    
}

.rodape_informacoes .informacoes2 {
    position: relative;
    top: -10%;
    left: 25%;
    
}

.rodape_informacoes .informacoes3 {
    position: relative;
    top: -50%;
    left: 40%;
    
}

.rodape_informacoes .informacoes3 img {
    width: 30px;
    
}

.rodape_informacoes .informacoes4 {
    position: relative;
    top: -82%;
    left: 60%;
}

.rodape_informacoes .informacoes5 {
    position: relative;
    top: -115%;
    left: 80%;
}


.rodape_final {
    border-top: 1px solid black;
    position: absolute;
    top: 100%;
    background:#115000;
    width: 100%;
    height: 196px;
    font-size: 20px;
    color: white;
}
    
.rodape_final h1{
    display: block;
    font-size: 140px;
    color:#156300 ;
    position: absolute;
    right: -20%;
    letter-spacing:5px;
    white-space: nowrap; /* cancela a quebra de linhas */
    
}

#proximo_jogo {
    scroll-margin-top: 300px;
}

#classificacao {
    scroll-margin-top: 300px;
}

#sessao_jogadoras {
    scroll-margin-top: 90px;
}

#loja {
   scroll-margin-top: 300px; 
}

#premios {
   scroll-margin-top: 300px; 
}

#historia {
   scroll-margin-top: 100px; 
}

.opcao_contato li {
    background-color: #FFD700;
    color: black;
}

.jogadorapadrao figcaption {
  background-color: rgb(2, 190, 2);
  display: flex;
  justify-content: center;
  
}

.nomejogadora {
  font-size: 1.5rem; 
  color: white;
  padding: 1rem;
  border-radius: 0.2rem;
  font-weight: bold;

}

figcaption span{
  font-size: 1.5rem; 
  color: white;
  background-color: #156300;
  padding: 1rem;
  margin-left: -4rem;
  font-weight: bold;
 
  
}


.jogadorescalacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


@media print {

header { 
        display: none;
    }


h1 {
    font-family: Arial, 'Helvetica', sans-serif;
    font-size: 4rem;
    line-height: 4rem;  
    padding-top: 6rem;
    text-align: center;
}

h2, h3 {
    font-family: Arial, 'Helvetica', sans-serif;
    font-size: 3rem;
    line-height: 4rem;
    padding-top: 6rem;
    text-align: center;
}

p {
    line-height: 4rem; 
}

h4 {
    line-height: 3rem; 
}

}

@media screen and (max-width: 768px) {
    
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .menu {
    width: 100%;
    height: 7.2rem;
    
    flex-direction: column;
} 

    .menu div {
    width: 100%;
    height: 7.2rem;
    flex-direction: column;
}  

.menu>ul>a {
    display: flex;
    
    
}

.menu>ul {
    font-size: 3rem;
}




.menu>div {
    size: 1.6rem;
}

.menu>div>a>img {
    height: 1.4rem
}


.comeco {
    width: 100%;
    height: 70vh;

}
    
.inicio {
    width: 100%;
    height: 50vh;
    padding: 0 1rem 10rem 1rem;


}

.inicio .logo {
    width: 10rem;

}

.inicio .text {
    margin: 1rem;
    max-width: 20rem;

}

.inicio h1 {

    font-size: 1.4rem;
}


.inicio p {

    font-size: 1rem;
}
   



.proximo_jogo {
    background:#156300;
    width: 100%;
    height: 10rem;
    color: white;
    gap: 1rem;
}

.proximo_jogo .wolfsburg img{
    order: 2;
    width: 5rem;
    
}

.proximo_jogo .wolfsburg .text{
    order: 1;
    font-size: 1rem;
    
}

.proximo_jogo .oponente {
    width: 30rem;
    gap: 1rem;

}

.proximo_jogo .oponente img{
    order: 1;
    width: 5rem;
}   

.proximo_jogo .oponente .text{
    order:2;
    font-size: 1rem;

}

.proximo_jogo .vs {
    font-size: 2rem;

    
}




}









