* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

main {
    width: 100vw;
    height: 100vh;
    background: url(imagens/memphis-wallpaper.jpg) fixed center no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;


}

.card {
    width: 14rem;
    height: 24rem;

    background: rgba(0, 86, 126, 0.527);
    backdrop-filter: blur(0.1rem);
}

.card span:nth-of-type(1) {
    height: 1rem;
    width: 100%;
    background: linear-gradient(to right, transparent, red);
    position: absolute;
    top: 0;
    
}

.card span:nth-of-type(2) {
    height: 1rem;
    width: 100%;
    background: linear-gradient(to left, transparent, red);
    position: absolute;
    bottom: 0;
    
}

.card span:nth-of-type(3) {
    height: 100%;
    width: 1rem;
    background: linear-gradient(to bottom, transparent, red);
    position: absolute;
    left: 0;
    
}

.card span:nth-of-type(4) {
    height: 100%;
    width: 1rem;
    background: linear-gradient(to top, transparent, red);
    position: absolute;
    right: 0;
    
}

